<!-- Add your footer content here -->
<!-- This replaces your original partials/footer.njk -->
<footer>
<hr>  
  <div class="center">
  <form
  action="https://buttondown.com/api/emails/embed-subscribe/nihalsahu"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/nihalsahu', 'popupwindow')"
  class="buttondown-form"
>
  <label for="bd-email">Get new posts via email:</label>
  <input type="email" name="email" placeholder="you@example.com" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
</form>
</div></footer>