{{ define "title" }}{{ .Title }} - nihalsahu.net{{ end }}
{{ define "og-title" }}{{ .Title }}{{ end }}
{{ define "description" }}{{ .Params.description | default .Summary }}{{ end }}


{{ define "main" }}
<h1 id=site-title>bookshelf</h1>

<div class="bookshelf">
{{ range .Resources.ByType "image" }}
<div class="book">
  {{ $img := .Resize "452x webp" }}
  {{ $name := path.BaseName .Name }}
  {{ $parts := split $name "_" }}
  {{ $alt := delimit $parts " " | strings.Title }}
  <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" loading="lazy" width="226" height="{{ math.Round (div (mul 226.0 (float $img.Height)) (float $img.Width)) }}">
  </div>
{{ end }}
</div>
<hr>
<center>
{{ partial "subscribe.html" }}
</center>
{{end}}