@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

:root {
    --paragraph-font-family:
        system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --base-font-size: 15px;
    --dark-background-color: #222;
    --dark-text-color: #dddddd;
}

nav a {
    font-size: 17px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font-family);
    max-width: 670px;
    min-width: 0;
    margin-left: 3rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-size: var(--base-font-size);
    margin-top: 3rem;
    padding: 0.9em;
    padding-bottom: 50px;
}

p {
    line-height: 1.5;
}

small {
    font-size: smaller;
}

blockquote p,
blockquote li {
    line-height: 1.35;
}

img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

figcaption {
    /*text-align: center;*/
    margin: 5px 0 0;
    font-style: italic;
    font-size: smaller;
}

.footnotes {
    font-size: smaller;
}

.footnotes p,
.footnotes li {
    line-height: 140%;
}
ol {
    list-style: decimal;
}
ul {
    list-style: disc;
}
ol,
ul {
    padding: 0;
    margin-left: 1.5em;
}

p {
    margin: 10px 0 10px;
}
/* Heading Sizes */

#site-title {
    font-size: 2em;
    margin: 15px 0 25px;
}

h1 {
    font-size: 2em;
    margin: 30px 0 15px;
    /*text-align: center;*/
}

h2 {
    font-size: 1.4em;
    margin: 17px 0 10px;
}

h3 {
    font-size: 0.9em;
    margin: 15px 0 5px;
}

.essay h2 {
    margin: 15px 0 0px;
}

h1,
h2,
h3 {
    font-family: var(--paragraph-font-family);
}

ul,
li {
    padding: 0;
    margin-top: 0.7rem;
}

a,
a:visited {
    color: #2255cc;
    text-decoration: none;
    border-bottom: 1px dotted #222;
    margin-bottom: -1px;
}
#home p {
    margin-top: 5px;
}
#home a,
#home a:visited {
    color: #222222;
}

/* Quotes */
blockquote {
    margin-right: 2em;
    margin-left: 0.6em;
    border-left: 2px solid #ccc;
    padding-left: 0.8em;
    font-size: 0.9em;
}

/* Code blocks */
pre {
    white-space: pre-wrap;
    margin-left: 1em;
}

hr {
    display: block;
    text-align: center;
    margin: 25px auto;
    width: 100%;
    border: none;
}

hr:after {
    content: "\2042";
    font-size: 1em;
}

footer p {
    text-align: right;
    font-size: 0.8rem;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}


.quote-author {
    text-align: right;
    padding-right: 2em;
}
.post {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    align-items: baseline;
}

.post time {
    width: 6em;
    flex-shrink: 0;
    text-align: right;
}

.post h3 {
    margin: 0.8em 0;
}


#home h3 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    opacity: 0.5;
    margin: 30px 0 10px;
}

form.buttondown-form input[type="email"] {
    outline: 0;
    border: 0;
    width: 14em;
    padding: 0;
    background: 0 0;
    border-bottom: 1px dotted #ccc;
    color: #b9b9b9;
    border-bottom-color: #555;
}

form.buttondown-form input[type="submit"] {
    padding: 5px;
    background: #4477ee !important;
    box-shadow: none;
    color: white;
    font-size: 0.9rem;
    border-top: none;
    border-left: none;
    font-family: var(--paragraph-font-family)
    border-right: none;
    border-bottom: none;
    cursor: pointer;
}
div.bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

div.bookshelf .book {
    position: relative;
    aspect-ratio: 226/346;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 0 3px 3px 0;
    overflow: hidden;
}

div.bookshelf img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

div.bookshelf .book::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.02) 0%,
        rgba(0, 0, 0, 0.05) 0.75%,
        rgba(255, 255, 255, 0.5) 1%,
        rgba(255, 255, 255, 0.6) 1.3%,
        rgba(255, 255, 255, 0.5) 1.4%,
        rgba(255, 255, 255, 0.3) 1.5%,
        rgba(255, 255, 255, 0.3) 2.4%,
        rgba(0, 0, 0, 0.05) 2.7%,
        rgba(0, 0, 0, 0.05) 3.5%,
        rgba(255, 255, 255, 0.3) 4%,
        rgba(255, 255, 255, 0.3) 4.5%,
        rgba(244, 244, 244, 0.1) 5.4%,
        rgba(244, 244, 244, 0.1) 99%,
        rgba(144, 144, 144, 0.2) 100%
    );
    box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.12);
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    body {
        margin-left: 0.3rem;
    }
    div.bookshelf {
        grid-template-columns: repeat(2, 1fr);
    }
}
